html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(26, 26, 37);
}
headertitle {
    padding: 0px 40px;
    font-weight: bold;
}
main {
    display: flex;
    height: calc(100vh - 120px);
    background-image: url("bg.jpg");
    background-size: cover;
}
@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }
}

/* NAVIGATION */
nav {
    background-color: rgba(66, 66, 66, .9);
    overflow: auto;
    user-select: none;
}
nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0px 16px;
}
nav ul:not(:first-child) {
    background-color: rgba(82, 81, 81, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
nav ul li {
    transition: all 0.2s ease;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
nav ul li:hover {
    background-color: rgba(44, 44, 44, .7);
}
nav ul li:active {
    box-shadow: inset 0px 0px 4px 0px black;
    background-color: rgba(58, 58, 58, .5);
}
.navtitle {
    padding-right: 8px;
}
.listopen {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(44, 44, 44);
}
.listopen:hover {
    background-color: rgb(107, 107, 107);
}
.selected {
    background-color: rgba(44, 44, 44, .9);
}

/* MAIN PAGE */
mainpage {
    background-color: rgba(43, 42, 40, .4);
    display: flex;
    flex: 1 0;
    padding: 30px;
    overflow: auto;
}
page {
    display: flex;
    flex: 1;
    flex-direction: column;
}
page > div {
    padding: 30px;
    border-radius: 10px;
    height: 100%;
    background-color: rgba(43, 42, 40, .4);
    display: flex;
    flex-direction: column;
}
pagetitle {
    font-size: 36px;
    padding: 10px;
}
.onesection {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex: 1 1;
    align-items: stretch !important;
}
.twosections, .threesections, .foursections {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.onesection > section {
    min-height: 300px;
    flex: 1 0;
}
.twosections > sections {
    width: 49%;
    display: flex;
    justify-content: center;
}
.twosections > sections > section {
    height: 300px;
    display: flex;
    width: 100%;
}
.threesections > section {
    height: 300px;
    width: 32%;
}
.foursections > sections {
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.foursections > sections > section {
    height: 300px;
    display: flex;
    width: 48%;
    transition: all 0.2s ease;
}
.foursections > sections > section:hover {
    transform: scale(1.05);
}
@media only screen and (max-width: 1400px) {
    .twosections {
        flex-direction: column;
    }
    .twosections > sections {
        justify-content: center;
    }
    .twosections > sections {
        margin: 10px;
        width: 100%;
    }
    .twosections > sections > section {
        width: 100%;
    }
    .foursections {
        flex-direction: column;
    }
    .foursections > sections {
        justify-content: center;
    }
    .foursections > sections > section {
        margin: 10px;
        min-width: 300px;
    }
}
section {
    border-radius: 10px;
    background-color: rgba(43, 42, 40, .9);
    flex-direction: column;
    align-items: center;
}
sectiontitle {
    padding: 10px 0px;
    background-color: rgba(66, 66, 66, .4);
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(26, 26, 37);
}
watermark {
    padding: 10px 40px;
}

/* SCROLLBAR DESIGN */
::-webkit-scrollbar {
    width: 20px;
    margin-top: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* TABLE DESIGN */
table {
    width: 100%;
    border-collapse: collapse;
}
table tr th {
    padding: 20px;
    background-color: rgb(51, 95, 171);
}
table tr th:first-child {
    border-top-left-radius: 10px;
}
table tr th:last-child {
    border-top-right-radius: 10px;
}
table tr td {
    padding: 20px 40px;
}
table tr {
    transition: all 0.2s ease;
}
table tr:not(first-child):hover{
    background-color: rgba(85, 84, 84, .5) !important;
    transform: scale(1.01);
    cursor: pointer;
}
table tr:not(first-child):nth-child(even){
    background-color: rgba(65, 65, 65, .5);
}

/* CHARTJS */
.doughnutchart {
    height: calc(100% - 50px) !important;
    width: auto !important;
}
.barchart {
    height: calc(100% - 50px) !important;
    width: auto !important;
}