html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(26, 26, 37);
}
headertitle {
    padding: 0px 40px;
    font-weight: bold;
}
main {
    display: flex;
    height: calc(100vh - 120px);
    background-image: url("bg.jpg");
    background-size: cover;
}
@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }
    /*nav {
        font-size: 48px;
    }
    nav > ul li > svg {
        height: 30px;
    }*/
}

/* NAVIGATION */
nav {
    background-color: rgba(66, 66, 66, .9);
    overflow: auto;
}
nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0px 16px;
}
nav ul:not(:first-child) {
    background-color: rgba(82, 81, 81, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
nav ul li {
    transition: all 0.2s ease;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 5px;
}
nav ul li:hover {
    background-color: rgba(44, 44, 44, .7);
}
nav ul li:active {
    box-shadow: inset 0px 0px 4px 0px black;
    background-color: rgba(58, 58, 58, .5);
}
.listopen {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(44, 44, 44);
}
.listopen:hover {
    background-color: rgb(107, 107, 107);
}

/* MAIN PAGE */
mainpage {
    background-color: rgba(43, 42, 40, .6);
    display: flex;
    flex: 1 0;
    padding: 30px;
    overflow: auto;
}
page {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin-bottom: 30px;
}
page > div {
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(43, 42, 40, .4);
}
pagetitle {
    font-size: 36px;
    padding: 20px;
}
.onesection, .twosections,.threesections, .foursections {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.onesection > section {
    height: 500px;
    width: 100%;
}
.twosections > section {
    height: 300px;
    width: 49%;
    display: inline-block;
}
.threesections > section {
    height: 300px;
    width: 32%;
}
.foursections > sections {
    display: flex;
    justify-content: space-between;
    width: 49%;
}
.foursections > sections > section {
    height: 300px;
    display: flex;
    width: 48%;
}
@media only screen and (max-width: 1600px) {
    .foursections {
        flex-direction: column;
    }
    .foursections > sections {
        justify-content: center;
    }
    .foursections > sections > section {
        margin: 10px;
        min-width: 300px;
    }
}
section {
    border-radius: 20px;
    background-color: rgba(43, 42, 40, .8);
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(26, 26, 37);
}
watermark {
    padding: 10px 40px;
}

/* SCROLLBAR DESIGN */
::-webkit-scrollbar {
    width: 20px;
    margin-top: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* TABLE DESIGN */
.tableDesign {
    width: 100%;
    border-collapse: collapse;
}