html {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: Helvetica, sans-serif;
    /* font-family: 'Open Sans', Verdana, sans-serif; */
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(26, 26, 37);
}
headertitle {
    padding: 0px 40px;
    font-weight: bold;
}
main {
    display: flex;
    height: calc(100vh - 120px);
    background-image: url("bg.jpg");
    background-size: cover;
}
@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }
}

/* NAVIGATION */
nav {
    background-color: rgba(66, 66, 66, .9);
    overflow: auto;
    user-select: none;
}
nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0px 16px;
}
nav ul:not(:first-child) {
    background-color: rgba(82, 81, 81, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
nav ul li {
    transition: all 0.2s ease;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
nav ul li:hover {
    background-color: rgba(44, 44, 44, .7);
}
nav ul li:active {
    box-shadow: inset 0px 0px 4px 0px black;
    background-color: rgba(58, 58, 58, .5);
}
.navtitle {
    padding-right: 8px;
}
.listopen {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(44, 44, 44);
}
.listopen:hover {
    background-color: rgb(107, 107, 107);
}
.selected {
    background-color: rgba(51, 95, 171, .9);
}

/* MAIN PAGE */
mainpage {
    background-color: rgba(43, 42, 40, .4);
    position: relative;
    display: flex;
    flex: 1 0;
    padding: 30px;
    overflow: auto;
}
page {
    display: flex;
    flex: 1;
    flex-direction: column;
}
page > div {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(43, 42, 40, .4);
    display: flex;
    flex-direction: column;
}
pageheader {
    font-size: 36px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
pagetitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
managebuttons {
    display: flex;
}
/* LOADER */
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: rgba(43, 42, 40, .8);
    border-radius: 10px;
    z-index: 10;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% { 
        transform: rotate(360deg); 
    }
}
mainsection {
    position: relative;
    border-radius: 10px;
    width: 100%;
    min-height: 500px;
    flex: 1 0;
    background-color: rgba(43, 42, 40, .9);
}
sections {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
largesection {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    transition: all 0.2s ease;
    border-radius: 10px;
    background-color: rgba(43, 42, 40, .9);
    flex-direction: column;
    align-items: center;
}
mediumsection {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    transition: all 0.2s ease;
    border-radius: 10px;
    background-color: rgba(43, 42, 40, .9);
    flex-direction: column;
    align-items: center;
}
smallsection {
    position: relative;
    height: 300px;
    width: 48%;
    display: flex;
    transition: all 0.2s ease;
    border-radius: 10px;
    background-color: rgba(43, 42, 40, .9);
    flex-direction: column;
    align-items: center;
}
graphcontainer {
    padding: 0px 20px;
    height: calc(100% - 38px);
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
graphcontainer > canvas {
    max-height: calc(100% - 40px);
    width: auto !important;
}

@media only screen and (max-width: 1400px) {
    sections {
        flex-direction: column;
    }
    sections > section {
        width: 100%;
    }
    sections > section:not(:first-child){
        margin-top: 20px;
    }
}
section {
    width: 49%;
    justify-content: space-between;
    display: flex;
}
sectiontitle {
    padding: 10px 0px;
    background-color: rgba(66, 66, 66, .4);
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(26, 26, 37);
}
watermark {
    padding: 10px 40px;
}

/* SCROLLBAR DESIGN */
::-webkit-scrollbar {
    width: 20px;
    margin-top: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* TABLE DESIGN */
.tableDesign {
    width: 100%;
    border-collapse: collapse;
}
.tableDesign tr th {
    padding: 16px;
    background-color: rgba(51, 95, 171, .9);
}
.tableDesign tr th:first-child {
    border-top-left-radius: 10px;
}
.tableDesign tr th:last-child {
    border-top-right-radius: 10px;
}
.tableDesign tr td {
    padding: 16px 40px;
}
.tableDesign tr {
    transition: all 0.2s ease;
}
.tableDesign tr:hover{
    background-color: rgba(85, 84, 84, .5) !important;
    transform: scale(1.01);
    cursor: pointer;
}
.tableDesign tr:nth-child(even){
    background-color: rgba(65, 65, 65, .5);
}

/* FORM TABLE DESIGN */
.formTableDesign {
    border-spacing: 12px;
}

/* MODAL */
modalcontainer {
    z-index: 100;
    position: fixed;
    height: calc(100% - 120px);
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
modal {
    border-radius: 10px;
    background-color: rgba(43, 42, 40, .9);
    box-shadow: 0px 0px 12px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
modaltitle {
    padding: 10px 0px;
    background-color: rgba(66, 66, 66, .4);
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
modalinputs {
    padding: 20px;
}
modaldecision {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* BUTTON DESIGN */
.btn {
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.2s background-color ease;
}
.btn:active {
	outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn-red {
	background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-red:hover {
	background-color: #c9302c;
    border-color: #ac2925;
}
.btn-red:active {
	background-color: #c9302c;
    border-color: #761c19;
}
.btn-blue {
	background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-blue:hover {
	background-color: #286090;
    border-color: #204d74;
}
.btn-blue:active {
	background-color: #286090;
    border-color: #122b40;
}
.btn-green {
	background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-green:hover {
	background-color: #449d44;
    border-color: #398439;
}
.btn-green:active {
	background-color: #449d44;
    border-color: #255625;
}
.btn-orange {
	background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-orange:hover {
	background-color: #ec971f;
    border-color: #d58512;
}
.btn-orange:active {
	background-color: #ec971f;
    border-color: #985f0d;
}

/* STANDARD INPUT DESIGNS */
input[type=text], input[type=number], input[type=date], select {
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}
input[type=checkbox] {
    transform: scale(2);
}